{%extends 'main/base.html'%}

{% block content %}
{% if form.errors %}
<p class="warning">Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>You must logout to login.</p>
{% else %}
<p>I don't know how you got here bud, you best leave.</p>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
<div class="container">
  <div class="well">
<p>You must logout to login.</p>
</div>
</div>
{% else %}
<form id=login method="POST">
  <div class="container">
    <div class="well">
      <h2 class="text-center">Login</h2>
      <div class="form-group">
        <input placeholder="User Name" class="form-control" required id="id_username" maxlength="254" name="username" type="text" />
      </div>
      <div class="form-group">
        <input placeholder="Password" class="form-control" required id="id_password" name="password" type="password">
      </div>
      {% csrf_token %}
      <a href="/main/register" class="btn pull-left">Create account?</a>
      <button type='submit' class="btn btn-primary pull-right" value="login">Log in</button>
      <p>&nbsp;</p>
    </div>
  </div>
</form>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{%endif%}
{%endblock%}