{% extends "main/base.html" %}

{% block content %}
  <form action="" method="post">
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p> 
    {% csrf_token %}
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}