:root{
  --main-bg-color: #0D3F9B;
  --text-box-color: #5F8DE3;
  --title-color: #4E0883;
  --text-color: #170624;
  --accent-color: #BB8702;
  --light-color:#d7c6f6;
  --greyed-out: darkgray;
  --warning: red;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width: 25px;
  height: 25px;
  top: 6px;
  position: relative;
  background-size: contain;
  background-image:url("../unchecked_box.png");
}

input[type='checkbox']:checked {
  -webkit-appearance: listbox;
  width: 25px;
  height:25px;
  position: relative;
  top: 6px;
  background-size: contain;
  background-image: url("../checked_box.png");
}

.name {
  margin: 1%;
}
.title {
color: var(--title-color);
}

body {
  background-color: var(--main-bg-color); 
}

.well {
  border-color: var(--accent-color);
  background-color: var(--text-box-color);
  color: var(--text-color);
}

.overview {
  background-color:var(--text-box-color);
}

.btn{
  background-color: var(--light-color);
  border-color: var(--accent-color);
}

.btn-primary{
  background-color: var(--main-bg-color);
  border-color: var(--accent-color);
}

.form-control{
  background-color: var(--light-color);
}

.navbar{
  background-color: var(--main-bg-color);
}

.nav-item {
  color: var(--title-color);
  background-color: var(--text-box-color);
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  margin: .5em;
}

#logo{
  height: 65px;
}
.biggie{
  margin-top: 70px;
}

.warning{
  color: var(--warning);
}

.greyed-out{
  background-color: var(--greyed-out);
}
