{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>gamespace</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  <link rel="icon" 
      type="image/png" 
      href="{%static 'logo.png'%}">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <!-- Button that toggles the navbar on and off on small screens -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar"
          aria-expanded="false">

          <!-- Hides information from screen readers -->
          <span class="sr-only"></span>

          <!-- Draws 4 bars in navbar button when in small mode -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

          
        </button>

        
        <img src="{%static 'logo.png'%}" alt="logo.pong" class="image-fluid" id="logo">
      </div>

      
      <div class="collapse navbar-collapse"  id="top-navbar">
        <ul class="nav navbar-nav" data-toggle="collapse" data-target="navbar-collapse">
          {% if user.is_authenticated %}
          <li class="nav-item profile_logoutt"><a href="{% url 'logout' %}">Log out</a></li>
          <li class="nav-item overview"><a href="/main/">Overview</a></li>
          <li class="nav-item profile"><a href="/main/profile">Profile</a></li>
          <li class="nav-item create"><a href="/main/create">Create a Game</a></li>
          
          {%else%}
          <li class="Signup Joined_games"><a href="/main/register">Sign Up</a></li>
          <li class="Overview"><a href="/main/">Overview</a></li>
          <li class="Profile Loginn"><a href="{% url 'login' %}">Log in</a></li>
          {%endif%}
        </ul>
        
        <div class="name align-middle pull-right" >{{ user.userprofile.v_name }}</div>
      </div>
    </div>
  </nav>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<div class=biggie>
  {%block content%} {%endblock%}
</div>

</html>