{% extends "main/base.html" %}

{% block content %}
{% if user.is_authenticated %}
{% if form.errors %}
<p class="warning">{{ form.errors }}</p>
{% endif %}
<form id="create-game" method="POST" action="/main/create/">
  <div class="container">
    <div class="well">
      <h2 class="text-center">Create Game</h2>
      <div class="form-group">
        <label for="id_name">Game Name:</label>
        <input placeholder="Name" class="form-control" type="text" name="name" maxlength="64" required id="id_name">
      </div>
      <div class="form-group">
        <label for="id_desc">Game Description:</label>
        <textarea rows = 6 placeholder="Description" class="form-control" name="desc" maxlength="1024" required id="id_desc"></textarea>
      </div>
      <div class="form-group">
        <label for="id_ruleset">Ruleset:</label>
        <input placeholder="Ruleset" class="form-control" type="text" name="ruleset" maxlength="64" required id="id_ruleset">
      </div>
      <div class="form-group">
        <label for="id_ESRB">Rating:</label>
        <input placeholder="ESRB" class="form-control" type="text" name="ESRB" maxlength="16" required id="id_ESRB">
      </div>
      <div class="form-group">
        <label for="id_location">Location:</label>
        <input placeholder="Location" class="form-control" type="text" name="location" maxlength="256" required id="id_location">
      </div>
      <div class="form-group">
        <label for="id_max_players">Maximum Players:</label>
        <input placeholder="Max Players" class="form-control" type="text" name="max_players" maxlength="1024" required id="id_max_players">
      </div>
      <div class="form-group">
          <label for="id_num_encounters">Number of Encounters:</label>
        <input placeholder="Number of Encounters" class="form-control" type="text" name="num_encounters" maxlength="1024" required id="id_num_encounters">
      </div>
      {% csrf_token %}
      <button type="submit" class="btn pull-right" name="submit" value="Create">Create Game</button>
      <p>&nbsp;</p>
    </div>
  </div>
</form>
{% else %}
<div class="well">
  <h1>You must be logged in to create a game</h1>
  <a class="btn" href="/accounts/login">Login</a>
<div>
{% endif %}
{% endblock %}