{% extends "main/base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  {% if form.errors %}
  <p class="warning">SOMETHING IS WRONG</p>
  <p class="warning">{{ form.errors }}</p>
  {% endif %}
  <form id="edit-profile" method="POST" action="{% url 'main:edit' user.userprofile.id %}">
    <div class="container">
      <div class="well">
        <h2 class="text-center">Edit Profile</h2>
        <div class="form-group">
            <div class="form-group">
              <label for="id_v_name">Name:</label>
              <input placeholder="Name" class="form-control" type="text" name="v_name" maxlength="64" required id="v_name" value="{{user.userprofile.v_name}}"/>
            </div>
            <div class="form-group">
              <label for="id_bio">Bio:</label>
              <textarea rows = 6 placeholder="Tell us about Yourself" class="form-control" name="bio" maxlength="1024" required id="id_bio">{{user.userprofile.bio}}</textarea>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn pull-right" name="submit" value="Create">Save Edits</button>
            <p>&nbsp;</p>
          </div>
    </div>
  </form>
  {% else %}
  <div class="well">
  <h1>Dude, you gotta login to edit your profile, dude.</h1>
  </div>
  {% endif %}
  {% endblock %}