{% extends "main/base.html" %}

{% block content %}
  {% if user.is_authenticated and user.userprofile == game.game_master %}
  {% if form.errors %}
  <p class="warning">{{ form.errors }}</p>
  {% endif %}
  <form id="edit-game" method="POST" action="{% url 'main:edit_game' game.id %}">
    <div class="container">
      <div class="well">
        <h2 class="text-center">Edit Game</h2>
        <div class="form-group">
            <div class="form-group">
              <label for="id_name">Game Name:</label>
              <input placeholder="Name" class="form-control" type="text" name="name" maxlength="64" required id="id_name" value="{{game.name}}"/>
            </div>
            <div class="form-group">
              <label for="id_desc">Game Description:</label>
              <textarea rows = 6 placeholder="Description" class="form-control" name="desc" maxlength="1024" required id="id_desc">{{game.desc}}</textarea>
            </div>
            <div class="form-group">
              <label for="id_ruleset">Ruleset:</label>
              <input placeholder="Ruleset" class="form-control" type="text" name="ruleset" maxlength="64" required id="id_ruleset" value="{{game.ruleset}}"/>
            </div>
            <div class="form-group">
              <label for="id_ESRB">Rating:</label>
              <input placeholder="ESRB" class="form-control" type="text" name="ESRB" maxlength="16" required id="id_ESRB" value="{{game.ESRB}}"/>
            </div>
            <div class="form-group">
              <label for="id_location">Location:</label>        
              <input placeholder="Location" class="form-control" type="text" name="location" maxlength="256" required id="id_location" value="{{game.location}}"/>
            </div>
            <div class="form-group">
              <label for="id_max_players">Maximum Players:</label>
              <input placeholder="Max Players" class="form-control" type="text" name="max_players" maxlength="1024" required id="id_max_players" value="{{game.max_players}}"/>
            </div>
            <div class="form-group">
              <label for="id_num_encounters">Number of Encounters:</label>
              <input placeholder="Number of Encounters" class="form-control" type="text" name="num_encounters" maxlength="1024" required id="id_num_encounters" value="{{game.num_encounters}}"/>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn pull-right" name="submit" value="Create">Save Edits</button>
            <p>&nbsp;</p>
          </div>
    </div>
  </form>
  {% else %}
  <div class="well">
  <h1>You do not have the required permissions. Go away.</h1>
  </div>
  {% endif %}
  {% endblock %}