{% extends "main/base.html" %}
{% load main_extras %}
{% block content %}
<div class="container">
  {% if user.userprofile in game.players.all or game.game_master == user.userprofile %}
  <!-- user in game.players DO SOMETHING TO CHECK IF A USER IS IN THE GAME-->
    <div class="well">
      <h1 class="text-center display-1">{{game.name}}</h1>
      <div class="well overview">
        <h3>{{game.desc}}</h3>
        <h3>GM: {{game.game_master.v_name}}</h3>
        <h3>Ruleset: {{game.ruleset}}</h3>
        <h3>Rating: {{game.ESRB}}</h3>
        <h3>Location: {{game.location}}</h3>
        <h3>Players: {{game.int_current_players}}/{{game.max_players}} </h3>
        <h3>Encounters: {{game.num_encounters}} </h3>
        <h3>{{game.created_at}}</h3>
        {% if game.game_master == user.userprofile %}
          <a href="/main/edit_game/{{game.id}}" class="btn btn-primary">Edit Game</a>
        {% endif %}
      </div>
      {% if game.game_master == user.userprofile %}
        <div class="well">
          <h3>Manage Game:</h3>
          <div class="well overview">
            <h4>Manage Players:</h4>
            {% if game.players.all%}
              {% remove_player %}
            {% else %}
              <p>No players currently in game</p>
            {% endif %}
          </div>
          <br /><br />
          <div class="well overview">
            <h4>Pending Join Requests:</h4>
            {% if game.pending_players.all %}
              {% pending_chars %}
            {%else%}
              <p>No pending requests</p>
            {%endif%}
          </div>
          <div class="well overview">
            {% delete_game %}
          </div>
        </div>
      {% else %}
        <div class="well overview">
          <h3>Players</h3>
          {% for p in game.players.all %}
            <p>{{p.v_name}}</p>
          {%endfor%}
        </div>
      {%endif%}
    </div>
  {%else%}
    <!--DISPLAY LIMITED INFORMATION AND JOIN BUTTON-->
    <div class="well">
    <h1>{{game.name}}</h1>
    <h3>{{game.desc}}</h3>
    Would you like to join this game? {% join_game %}
    </div>
  {%endif%}
</div>
{%endblock%}