{%extends 'main/base.html'%}
{% load main_extras %}

{% block content %}
{% if not games.empty %}
    <section class="game-list">
    {% for g in games %}
        <div class ="well col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 well col-md-10 col-sm-10 col-xs-10">
          <h3 class="title">{{ g.name }}</h3>
          <p>{{g.desc}}</p>
          <div class ="players">{{g.int_current_players}}/{{g.max_players}} </div>
          <div class="timestamp">{{g.created_at}}</div>
          <div>{{g.game_master.v_name}}</div>
          {% join_game %}
        </div>
        {% endfor %}
    </section>
    {% if games.paginator.num_pages > 1 %}
    <div class="well text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 well col-md-10 col-sm-10 col-xs-10">
        <div class="pagination">
            <span class="step-links">
                {% if games.has_previous %}
                <a class="btn" href="?page=1">&laquo; first</a>
                <a class="btn" href="?page={{games.previous_page_number}}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{games.number}} of {{games.paginator.num_pages}}.
                </span>
                {% if games.has_next %}
                <a class="btn" href="?page={{games.next_page_number}}">next</a>
                <a class="btn" href="?page={{games.paginator.num_pages}}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
{% else %}
<div class="well">
    <h1 class="no-games">THERE ARE NO GAMES</h1>
    <h3 class="no-games"> The world is empty and joyless</h3>
    <a href="/main/create" class="btn btn-default btn-lg">Start the first adventure</a>
</div>
{% endif %}
{% endblock %}