{%extends "main/base.html"%}
{% load main_extras %}

{%block content%}
<title> User Profile</title>
<div class="container">
  {% if user.is_authenticated %}
  <div class="well">
    <h1>{{ user.userprofile.v_name }}</h1>
    <div class="well">
    <h2>Your personal info</h2>
    <ul>
      <li> Username: {{user}} </li>
      <li> {{user.userprofile.bio}} </li>
      <li>Joined: {{user.userprofile.join_date}}</li>
      <a href="/main/profile/edit/{{user.userprofile.id}}" class="btn">Edit profile</a>
      {% delete_player %}
    </div>
      {% for c in user.userprofile.user_character_set.all %}
      <div class="well"><h3>{{c.name}}</h3><h4>{{c.bio}}</h4><h4>{{c.associated_game}}</h4>{% delete_character %}</div>
      {%endfor%}

    </ul>
        <div class="create_character">
          {% create_character %}
        </div>
  </div>
  {%else%}
  <div class="well">
    <h1>You must be logged in to see this page</h1>
    <a href="{%url 'login'%}" class="btn">Login</a>
  </div>
  {%endif%}
</div>
{%endblock%}