{%extends "main/base.html" %}

  {%block content%}
    {% if registered %}
      <h3>You are account has been created</h3>
      <a href="/main/">Join a game</a><br/>
    {% else %}
      {% if form.errors %}
        <h1>There were errors</h1>
        <p class="warning">{{ form.errors }}</p>
      {% endif %}
    <form id="create-user" method="POST" action="/main/register/">
        <div class="container">
          <div class = "well">
            <h2 class="text-center">Create Account</h2>
            <div class = "form-group">
                <input placeholder="Name" class="form-control" type="text" name="v_name" maxlength="32" required id="id_v_name">
            </div>
            <div class="form-group">
              <input placeholder="Username" class="form-control" type="text" name="username" maxlength="150" required id="id_username">
              <!--<span class="helptext">Required. under 150 Characters. Letters, digits and @/./+/-/_ only.</span>-->
            </div>
            <div class = "form-group">
              <input placeholder="Password" class="form-control" type="password" name="password" required id="id_password"/>
            </div>
            {% csrf_token %}      
            <button type="submit" class="btn btn-primary pull-right" name="submit" value="Register">Create Account</button>
            <p>&nbsp;</p>
          </div>
        </div>
      </form>
    {% endif %}
  {%endblock%}