<form action="{% url 'main:create_character' %}" id="create_character" method="POST">
        <div class="well">
          <h2 class="text-center">Create Character</h2>
          <div class="form-group">
            <label for="id_name">Name</label>
            <input placeholder="Name" class="form-control" type="text" name="name" maxlength="64" required id="id_name">
          </div>
          <div class="form-group">
            <label for="id_bio">Bio</label>
            <textarea rows = 6 placeholder="bio" class="form-control" name="bio" maxlength="1024" id="id_bio"></textarea>
          </div>
          <div class="form-group">
            <!-- <label for="id_associated_game">Associated Game</label> -->
            <select name="associated_game" class="form-control" required id="associated_game">
              {% for g in user.userprofile.in_games.all %}
                <option value="{{g.id}}">{{g.name}}</option>
              {%endfor%}
            </select>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn pull-right" name="submit" value="Create">Create Character</button>
          <p>&nbsp;</p>
        </div>
</form>