{% if user.userprofile == game.game_master %}
<form action="{% url 'main:delete_game' game.id %}" id="delete-game" method="POST">
  {% csrf_token %}      
  <button type="submit" class=" btn-danger btn-lg" name="delete" value="delete">DELETE GAME</button>
</form>
{% endif %}