<form action="{% url 'main:delete_player' user.userprofile.id %}" id="delete-player" method="POST">
  {% csrf_token %}      
  <button type="submit" class=" btn-danger pull-right" name="delete" value="delete">DELETE YOUR ACCOUNT?</button>
</form>