<form action="{% url 'main:delete_character' c.id %}" id="delete-character" method="POST">
  {% csrf_token %}      
  <button type="submit" class=" btn-danger " name="delete" value="delete">Delete</button>
</form>