  {% if user.userprofile in g.players.all %}
  <br/>
    <a href="{% url 'main:game_overview' g.id %}" class ="btn btn-default btn-lg">View</a>
  {%elif g.game_master == user.userprofile%}
  <br/>
    <a href="{% url 'main:game_overview' g.id %}" class ="btn btn-default btn-lg">Manage</a>
  {% elif user.userprofile in g.pending_players.all %}
  <br/>
      <a class="btn btn-default btn-lg greyed-out" >Request Pending</a>
  {% elif user.is_authenticated %}
  <br/>
  <form action="{% url 'main:join_request' g.id %}" id="join-game" method="POST">
    {% csrf_token %}      
    <button type="submit" class="btn btn-default btn-lg" name="submit" value="Create">Join Game</button>
  </form>
  {% endif %}

