<form action="{% url 'main:pending_characters' game.id %}" id="join-game" method="POST">
  {% for chara in game.pending_players.all %}
  <input type="checkbox" name = "players" value={{chara.id}}>
  {{chara.v_name}}
  <br/>
  {%endfor%}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary pull-right" name="submit" value="Create">Approve</button>
  <button type="submit" class="btn btn-primary pull-right" name="submit" value="Destroy">Deny</button>
  <p>&nbsp;</p>
</form>

