<form action="{% url 'main:remove_player' game.id %}" id="remove_player" method="POST">
  {% for chara in game.players.all %}
  <input type="checkbox" name="players" value={{chara.id}}>
  {{chara.v_name}}
  <br />
  {% endfor %}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary pull-right" name="submit" value="Destroy">Delete selected player(s)</button>
  <p>&nbsp;</p>
</form>